<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>NipponJob - {% block title %}  {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}    
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Nipponjob</a>
            </div>
        {{ knp_menu_render('main', { 'style': 'navbar'}) }}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}</nav>
        <div class="container"><div class="row">
        
    {% block body %}
    {% endblock %}
                    </div></div>    
                <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
                <script src="{{ asset('js/jquery.js') }}"></script>
                <!-- Include all JavaScripts, compiled by Assetic -->
                <script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}
{% endblock %}
            </body>
        </html>